{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="{% static 'image_pro/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
      <link href="{% static 'image_pro/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
      <link href="{% static 'image_pro/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- Dropzone.js -->
      <link href="{% static 'image_pro/vendors/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
      <link href="{% static 'image_pro/build/css/custom.min.css' %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
       {% include 'left_menu.html' %}
        <!-- top navigation -->
       {% include 'top_nav.html' %}
        <!-- /top navigation -->
        {% block main_content %}
        {% endblock main_content %}

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'image_pro/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'image_pro/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'image_pro/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'image_pro/vendors/nprogress/nprogress.js' %}"></script>
    <!-- Dropzone.js -->
    <script src="{% static 'image_pro/vendors/dropzone/dist/min/dropzone.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'image_pro/build/js/custom.min.js' %}"></script>
  </body>
</html>